/* Class for creating the illusion of paper like elements */
.sheet {
    background-color: white;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 8px 4px #e0e0e0;
    display: inline-block;
    margin: 15px;
}

/* Class for displaying graphs */
.graph {
    width: 800px;
    height: 300px;
}
